.nav-container {
    background-color: white;
}

.nav-heading {
    color: #3fa1de;
    text-decoration: none;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: larger;
}